.containerPrincipal {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  margin: 1rem 0;
  font-size: 0.8rem;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.containerButton {
  margin-top: 1rem;
}

.containerButton button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3b4047;
  color: #ffff;
  height: 3rem;
  width: 100%;
}

@media (min-width: 768px) {
  .containerPrincipal {
    font-size: 1rem;
  }
}
