.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: rgba(0, 0, 0, 0.3);
  overflow-y: auto;
  padding-top: 60px;
  z-index: 10;
}

.modal {
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 90%;
  border-radius: .2rem;
}

.buttonsOption {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: .5rem;
}

.buttonsOption button {
  color: rgb(150, 150, 150);
  font-size: 20px;
  font-weight: bold;
}

.buttonsOption .active {
  color: rgb(0, 0, 0);
  height: 3rem;
  border-bottom: 1px solid black;
}

.containerForm {
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
}

.form input {
  height: 1.2rem;
  padding: 1rem;
  font-size: 1rem;
  margin-bottom: 1.4rem;
  outline: none;
  border: none;
  border-bottom: 1px solid rgb(211, 211, 211);
}

.buttonConfirmar {
  background-color: rgb(150, 150, 150);
  height: 2.5rem;
  width: 12rem;
  align-self: center;
  text-align: center;
}

.buttonConfirmar:hover {
  background-color: rgb(0, 0, 0);
}

.error {
  color: red;
  font-size: 0.8rem;
  margin-top: 4px;
  display: block;
}

@media (min-width: 768px) {
  .container {
    align-items: center;
  }

  .modal {
    max-width: 600px;
    padding: 1rem;
  }

  .form input {
    font-size: 1rem;
    height: 2rem;
  }

  .buttonConfirmar {
    width: 12rem;
    font-size: 1rem;
  }
}

@media (min-width: 1024px) {
    .buttonsOption button {
      font-size: 30px;
      width: 12rem;
      text-align: center;
    }
  
    .buttonsOption .active { 
        height: 4rem;
    }
    .containerForm{
        gap:2rem
    }
    .form input {
      font-size: 1.2rem;
      height: 2.2rem;
    }
  
    .buttonConfirmar {
      width: 14rem;
      height: 3rem;
      font-size: 1.2rem;
    }
  }