.filterSection {
  background-color: hsl(0, 0%, 97%);
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  margin-bottom: 1rem;
}

.title {
  padding-bottom: 10px;
  display: none;
}
.containerTalles {
  display: flex;
  gap: 1rem;
}
.subtitle {
  padding: 10px 0px;
}

.filterContainer {
  margin-bottom: 10px;
}

.filterContainer label {
  display: block;
  margin-bottom: 5px;
}

.icon {
  margin-bottom: -5px;
  margin-right: 10px;
}

@media (min-width: 768px) {
  .filterSection {
    background-color: white;
    min-width: 130px;
    width: 2;
    display: flex;
    flex-direction: column;
  }

  .title {
    display: flex;
  }
  .containerTalles {
    flex-direction: column;
  }
}

@media (min-width: 1024px) {
  .filterSection {
    min-width: 150px;
    width: 14%;
  }
}
