.product {
    border: 1px solid red;
  width: 300px;
  cursor: pointer;
}

.productImage {
  width: 100%;
  object-fit: cover;
}

.title {
  height: 60px;
}

.product h4 {
  padding: 10px 0px;
}

.product h5{
  color: rgb(193, 31, 31);
}