.containerHeader {
  background-color: rgba(25, 25, 25, 1);
  display: flex;
  padding: 5px 20px;
  color: #fff;
}

.headerOptions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}

.headerNavSearch {
  display: flex;
  gap: 60px;
  padding-left: 80px;
}

.headerBuyLogin {
  display: flex;
  align-items: center;
  gap: 50px;
  padding-right: 50px;
}
