.container {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
}

.close{
  cursor: pointer;
}

.form {
  width: 40%;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
}

.formContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px 0px;
}

.title {
  text-align: center;
  padding: 10px 0px;
}

.item {
  width: 45%;
}

.item label{
  display: block;
}

.item > input{
  margin-top: 8px;
  padding: 8px 10px;
  width: 100%;
  font-size: 1rem;
}

.item img{
  margin-top: 10px;
  margin-left: 10px;
  width: 70px;
  cursor: pointer;
}

.talles{
  display: flex;
  gap: 10px;
  margin-top: 8px;
}

.talles input{
  width: 50%;
  padding: 5px 10px;
}

.options{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 45%;
}

.button{
  padding: 8px 15px;
  border-radius: 5px;
  border: 1px solid;
  cursor: pointer;
}

