.containerPrincipal {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  gap: 1rem;
}

.containerData {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
}

.talleContainer {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.talleContainer button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d9d9d9;
  color: #727272;
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
}

.selected {
  border: 1px solid #000000;
}

.cantidadContainer {
  width: 4rem;
  height: 2rem;
  font-size: 1rem;
  margin: 0;
}

.cantidadContainer option {
  width: 4rem;
}

.carritoButton {
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
}

@media (min-width: 768px) {
  .containerPrincipal {
    font-size: 1rem;
    gap: 1.3rem;
  }
  .containerPrincipal h2 {
    font-size: 1.6rem;
  }
  .containerPrincipal h3 {
    font-size: 1.3rem;
  }

  .carritoButton {
    height: 3rem;
  }
}

@media (min-width: 1024px) {

  .carritoButton {
    margin-top: 64px;
    width: 500px;
    
  }
}
