.containerPrincipal {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  gap: 0.9rem;
}

.containerData {
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  gap: 1rem;
}

.containerData span {
  margin-top: 10px;
  display: inline-block;
  padding: 5px 15px;
  border: 2px solid black;
  cursor: pointer;
}

.containerData select {
  width: 100px;
}

.carritoButton {
  width: 250px;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
}

.botonDeshabilitado {
  background-color: #ccc;
  cursor: not-allowed;
}

.comeBack{
  position: absolute;
  top: 90px;
  left: 1rem;
  padding: 5px 15px;
  border: 1px solid black;
  
}


@media (min-width: 768px) {
  .containerPrincipal {
    gap: 2rem;
  }
  .containerPrincipal h2 {
    font-size: 1.9rem;
  }
  .containerPrincipal h3 {
    font-size: 1.5rem;
  }
  .containerData {
    font-size: 1rem;
  }
}
