.tableRow {
  height: 3rem;
}

.tableRow th {
  background-color: #d9d9d9;
  padding: 12px;
  text-align: start;
}

.tableRow td {
  padding: 12px;
  border-bottom: 1px solid #868686;
}

.tableRow td:last-child{
  width: 200px;
}

.tableRow td:not(.username){
  text-transform: capitalize;
}

.options {
  /* Add your styles for options here */
  text-align: center;
}