:root {
  --font-xl: 2.5rem;
  --font-lg: 1.875rem;
  --font-x: 1.5rem;
  --font-s: 1.3rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  all: unset;
  cursor: pointer;
}
