.containerPrincipal {
  margin: 0 auto;
  padding: 20px;
  padding-top: 4.5rem;
}
.containerPrincipal img {
  width: 100%;
}

@media (min-width: 1024px) {
  .containerPrincipal {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
    

  }

  .swiper {
    width: 450px;
    height: 450px;
  }
}
