.containerPrincipal {
  margin: 0 auto;
  padding: 20px;
}
.containerPrincipal img {
  width: 100%;
}

@media (min-width: 1024px) {
  .containerPrincipal {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
  }

  .swiper {
    width: 500px;
    height: 500px;
  }
}
